.nameHeader {
  width: 97vw; 
  height: 94.3vh; 
  background-color: #06a16b; 
  text-align: center; 
  position: relative;
  border: 1vw solid #033b27;
}

.nameText {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 14%;
  margin: auto;
  color: white;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info {
  width: 97vw; 
  height: 94.3vh; 
  background-color: white; 
  text-align: center; 
  position: relative;
  border: 1vw solid #06a16b;
}

img {
  width: 50px;
}

.flex {
  display: flex;  
}

.flexItem {
  width: 30vw;
  margin: 5vw;
  border: 3px solid #06a16b;
}

.appImage {
  width: 400px;
  margin: 15px;
}